.container {
    text-align: center;
    width: 100%;
    border: 0px solid black;
}

.item-1, .item-2, .item-3, .item-4 {
    width: 300px;
    border: 0px solid black;
    display: inline-block;
    padding: 5px;
}

img {
    width: 100%;
}

.column:last-child {
    margin-right: 0;
}
/* Mobile-friendly adjustments */
@media (min-width: 600px) {
    .item {
        flex: 1 1 45%;
    }
}

@media (min-width: 900px) {
    .item {
        flex: 1 1 22%;
    }
}
